body{
   color: white;
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}
nav ul {
        display: grid;
    list-style-type: none;
    padding: 1.5em 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 0 0 3em;
    background-color: #003391;
}
a {
    color: white;
    text-decoration: none;
}
header img {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #af9a01;

}
.center{
    text-align: center;
}
h1{
    color: lightblue;
}
footer img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;

}
footer p{
    margin-top: 2px;
}
.conteiner{
    padding: 0;
}
nav a:hover{
    color: green;
}
section{
    width: 75%;
    margin:auto;
}

section img{
   width: 100%;
   height: auto;
   position: relative;
}

.titulo{
   width:100%;
   text-align: center;
}
.lista{
      display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0;
}
